<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Model New Zealand Register of Legislation</title>
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
		<div class="ui fixed inverted menu" style="margin-right: 1.5em;">
			<div class="ui container">
				<a class="header item" href="/">Model New Zealand Register of Legislation</a>
				<div class="ui dropdown item">
					Acts
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="header">As made</div>
						<a class="item" href="/acts/bydate">By term and number</a>
						<a class="item" href="/acts/byparty">By party</a>
						<a class="item" href="/acts/byportfolio">By portfolio</a>
						<a class="item" href="/acts/bytitle">By short title</a>
						<div class="header">In force</div>
						<a class="item" href="/acts/inforce/bytitle">By short title</a>
						<a class="item" href="/acts/compilations/bytitle">Compilations by short title</a>
					</div>
				</div>
				<div class="ui dropdown item">
					Parliamentary Archives
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="/budget">Budget History</a>
						<a class="item" href="/governments">Government History</a>
						<a class="item" href="/differences">Real-world Differences</a>
					</div>
				</div>

				<!--<div class="ui dropdown item">
					Instruments
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="header">As made</div>
						<a class="item" href="/instruments/bydate">By term and number</a>
						<a class="item" href="/instruments/bytitle">By title</a>
					</div>
				</div>-->
			</div>
		</div>
		<div class="ui main text container" style="margin-top: 7em; margin-bottom: 3em;">
			{% block content %}
			{% endblock %}
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<script>
			$('.menu .ui.dropdown').dropdown({'on': 'hover'});
		</script>
		{% block script %}{% endblock %}
	</body>
</html>
