{% extends "frlsim/base.html" %}

{% block title %}Government History{% endblock %}

{% block content %}
<h1>Government History</h1>

<h2>First  Labour Government (October 2017 - January 2018)</h2>

<p>The First Labour Government was formed in October 2017 after the First General Election. The government was formed with the Labour Party's 3 seats and the Green Party's 2 seats, with ACT's 2 seats <a href="https://www.reddit.com/r/MNZElection1/comments/76kqmu/labour_greens_and_act_announce_government">providing confidence and supply</a>. The combination of the left and the ACT party was odd, but were united in opposing the racism in some factions of New Zealand First.</p>

<p>The government <a href="https://www.dropbox.com/s/6lg98amf6x25opn/Labour-Greens-ACT%20agreement.pdf?dl=0">agreed to work together to</a> reduce the number of DHBs to 6, legalise cannabis, provide tax cuts for low to medium income earners, renew the partnership schools program, reduce the cigarette tax, pursue criminal justice reform, pass the Zero Carbon Act with guaranteed abstinence from ACT, and to institute a 2% land value tax, along with the rest of the Labour-Green agenda.</p>

<h3>Cabinet</h3>
<ul>
  <li>Allowed horse riders to ride on footpaths and berms</li>
  <li>Reduced the numbers of DHBs to 6</li>
  <li>Increased student allowances</li>
</ul>

<h3>Legislation</h3>
<ul>
  <li>Passed the Zero Carbon Act, committing governments to reach net zero emissions by 2050 and establishing an independent climate commission</li>
  <li>Passed the Parliamentary Term Act, establishing new term lengths for parliament</li>
  <li>Passed the Employment Relations (Film Production Work) Repeal Act, returning film workers their right to collective bargain</li>
  <li>Passed the Misuse of Drugs (Recreational Cannabis) Amendment Act</li>
  <li>Passed the Electoral (Simulation) Amendment Act, reforming how parliament is elected</li>
  <li>Passed the Consumers' Right to Know (Origin of Food) Act, requiring food products to list the country of origin</li>
</ul>

<h3>Budget</h3>
<ul>
  <li>Made the first $6,000 of income tax free</li>
  <li>Reduced the cigarette tax to its 2015 level</li>
  <li>Created a 2% land value tax</li>
  <li>Created a flat carbon tax, with lower rates for farmers</li>
  <li>Created a nitrate pollution levy to tax river pollution (polluter pays)</li>
  <li>Created a tourism levy of $20 to be put towards conservation and tourism infrastructure</li>
  <li>Spent $337m on Wellington's transport renewal</li>
  <li>Increased Working For Families with an additional $1b</li>
  <li>Spent $550m reforming the health system</li>
  <li>Made the first year of tertiary education subsidised</li>
  <li>Spent an additional $869m on environmental protections</li>
  <li>Reduced debt faster with revenue from land value tax</li>
</ul>

<h2>First Green Government (January 2018 - April 2018)</h2>

<p>The First Green Goverment was formed in January 2018 after the Second General Election. This government was formed with the Green Party's 6 seats, and the Labour Party's 6 seats. As the Green Party's vote was slightly larger than Labour's the Green Party had the mandate to lead the coalition. This allowed the government to focus on a solidly left-wing programme without being held back by the ACT Party, who were now leading the Official Opposition.</p>
{% endblock %}
